:root {
    
    /* TIPOGRAFIA */

    --baloo-2: "Baloo 2", sans-serif;
    --open-sans: "Open Sans", sans-serif;

    --h1: bold 1.75rem/auto var(--baloo-2);
    --h2: bold 1.125rem/auto var(var(--baloo-2));

    --txt-md: 500 1rem/auto var(--open-sans);
    --txt-sm: 500 .875rem/auto var(--open-sans);
    --txt-xs: 500 .75rem/auto var(--open-sans);

    /* CORES */

    

}