body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 32.8% 67.2%;
    background-color: var(--shape-body);
    overflow: hidden;
}
 
aside {
        background-image: url(../Background.png);
        background-size: cover;
        background-position: center;
        color: var(--txt-heading);

    header {

        margin: 2rem;

        h1 {
            font-family: "leckerli one", coursive;
            font-size: 2.5rem;
            font-weight: 400;
            color: var(--pink);
        }

        p {
            font: 300 1rem var(--open-sans);
            color: aliceblue;
        }
    }
}


main {
    overflow: auto;
    height: 100vh;
}

#app {
    padding: 5rem ;
    max-width: 35rem;
}

