.about::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/calendar.svg);
    background-size: contain;
}

.about {
    display: flex;
    align-content: center;
    gap: .75rem;
}

fieldset {
    max-width: 35rem;
    padding: 0;
    border: none;
}

.form-wrap {
    display: grid;
}