/* Formulario */

.form-wrap {
    display: grid;
    gap: .75rem;

    input, textarea {
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;
        padding: .8125rem 1rem;
        color: var(--txt-body);
        font: var(--txt-sm);
        
        &::placeholder {
            color: var(--input-placeholder);
        }

    }

    textarea {
        height: 8.5rem;
        resize: none;
    }

    input[type=datetime-local]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

}

/* Sobre o evento */

.about::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/calendar.svg);
    background-size: contain;
}

.about {
    display: flex;
    align-content: center;
    gap: .75rem;
}


    .segment-selection {
        display: grid;
        grid-auto-flow: column;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;
        align-items: center;


        .radio-wrapper-segment {
            position: relative;
            width: 100%;

            label {
                margin: .25rem;
                height: 2rem;
                display: flex;
                gap: .5rem;
                place-items: center;
                justify-content: center;
                color: var(--input-placeholder);
            }

        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked + label {
            border-radius: .25rem;
            background-color: var(--shape-button);
            font: 600 .875rem var(--open-sans);
            color: var(--txt-body);

            svg {
                color: var(--brand-light)
            }
        }

        }

    }



/* Personalização */

.custom::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/paintbrush.svg);
    background-size: contain;
}

.custom {
    display: flex;
    align-content: center;
    gap: .75rem;
}

.radio-wrapper-color {

        background-color: var(--shape-button);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    input[type="radio"] {
    display: none;
    }

    label {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: var(--color);
        cursor: pointer;
        border: 1px solid transparent;
        display: inline-block;
        transition: .2s ease;
    }     

}

.radio-wrapper-color:has(input:checked) {
    box-shadow: inset 0 0 0 .125rem var(--brand-light) ;
}

.theme {
    display: grid;
    grid-template-columns: repeat( 4, 8.375rem);
    gap: .5rem;

    .theme-wrapper {
        display: flex;
        text-align: center;
        overflow: hidden;
        padding: .25rem ;
        border-radius: .25rem;
        border: 1px solid var(--input-stroke);
        background-color: var(--shape-button);
    }

    input[type=radio] {
        display: none;
    }

    img {
        width: 100%;
    }
    
}

.theme-wrapper:has(input:checked) {
    box-shadow: inset 0 0 0 .125rem var(--brand-light) ;
}

.toggle-checkbox {

    margin-top: .75rem;
    align-items: center;
    justify-content: start;


    input[type=checkbox]{
    }



    .slider {
        display: flex;
        align-items: center;
        padding: 0 .25rem;
        background-color: var(--input-base);
        width: 4rem;
        height: 2rem;
        border-radius: 68.4375rem;
        border: 1px solid var(--input-stroke);
        position: relative;
        transition: transform 0.3s ease;


        label {
            position: absolute;
        }

        .toggle-ball {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: var(--input-stroke);
            transition: transform 0.3s ease;

        }

        .label-toggle {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        input[type=checkbox] {
            display: none;
        }

    }
    
    .dark {
            display: none;
        }

    .slider:has(input:checked){

        background-color: var(--brand-light);

        .toggle-ball {
            background-color: var(--txt-heading);
            transform: translateX(2.5rem);
        }
    }

    .slider + label::after {
        content: "Escuro";
        transition: transform 0.3s ease;
    }

    .slider:has(input:checked) + label::after{

       content: "Claro";
    }
}

.upload-file {
    margin-top: .75rem;

    input {
        display: none;
    }

    div {
       
        display: grid;
        grid-auto-flow: column;

        label {
        width: 7.4375rem;
        height: 2.5rem;
        background-color: var(--shape-button);
        position: relative;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
           
        }
    }
}